<div class="container">
  <div class="content border rounded">
    <div class="content__header p-4 pt-3 pb-3 bg-light">
      <div class="row d-flex justify-content-between align-items-center">
        <div class="col-10 text-left d-flex align-items-center">
          <span>Category</span>
        </div>
        <div class="col-2">
          <button
            type="button"
            class="btn btn-dark w-100"
            (click)="openModal(template, false)"
          >
            Add
          </button>
        </div>
      </div>
    </div>
    <div class="content__main border-top p-3">
      <input
        type="text"
        class="form-control"
        placeholder="filter category..."
        [(ngModel)]="field"
        name="field"
      />
      <hr />
      <table class="table table-bordered">
        <thead class="table-secondary">
          <tr>
            <th class="col">#</th>
            <th class="col-10">Name</th>
            <th class="col">Edit</th>
            <th class="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of adminCategories | search:field; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ category.name}}</td>
            <td>
              <button
                type="button"
                class="btn btn-dark"
                (click)="saveCurrentCategory(category)"
                (click)="openModal(template, true)"
              >
                Edit
              </button>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-dark"
                (click)="saveCurrentCategory(category)"
                (click)="openConfirm(confirmation)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Name</h4>
    <button
      type="button"
      class="close pull-right"
      (click)="modalRef.hide()"
      (click)="resetForm()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input
      class="form-control"
      type="text"
      placeholder="name here..."
      [(ngModel)]="name"
      (keyup)="checkEmptyInput()"
    />
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modalRef.hide()"
      (click)="resetForm()"
    >
      Close
    </button>
    <button
      type="button"
      class="btn btn-dark"
      *ngIf="!isEditCategory"
      [disabled]="isEmptyInput"
      (click)="addAdminCategory()"
    >
      Add
    </button>
    <button
      type="button"
      class="btn btn-dark"
      *ngIf="isEditCategory"
      (click)="saveAdminCategory()"
    >
      Save edit
    </button>
  </div>
</ng-template>

<ng-template #confirmation>
  <div class="modal-body p-3 d-flex justify-content-around">
    <button type="button" class="btn btn-dark col-5" (click)="decline()">
      Dismiss
    </button>
    <button type="button" class="btn btn-danger col-5" (click)="confirm()">
      Delete
    </button>
  </div>
</ng-template>
